Repository tylertitsworth/multi-mediawiki-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest, cypress

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.github/linters/.python-lint

pytest:
  name: pytest
  entry: pytest
  language: system
  args:
  - test
  - -W
  - ignore::DeprecationWarning

cypress:
  name: cypress
  entry: bash
  language: system
  args:
  - cypress/test.sh

add docstrings
  .github/linters/.python-lint
  app.py
  embed.py
Due: pylint, pytest, cypress

add test docstrings
  test/test_app.py
  test/test_embed.py
Due: pylint, pytest, cypress

adjust on_chat_start docstring to one line
  app.py
Due: pylint, pytest, cypress

add black pre-commit hook
  .pre-commit-config.yaml
Due: none

add black pre-commit step
  .pre-commit-config.yaml
Due: none

Add Function Docstrings (#41)
  .github/linters/.python-lint
  .pre-commit-config.yaml
  app.py
  embed.py
  test/test_app.py
  test/test_embed.py
Due: pylint, pytest, cypress

add document example
  README.md
  examples/add_more_docs.py
Due: pylint, pytest, cypress

add document example (#42)
  README.md
  examples/add_more_docs.py
Due: pylint, pytest, cypress

add api and discord support
  .github/workflows/embed-test.yaml
  .pre-commit-config.yaml
  app.py
  config.yaml
  examples/discord_bot.py
  utils/api.py
Due: pylint, pytest, cypress

add e2e tests
  .github/workflows/embed-test.yaml
  .pre-commit-config.yaml
  cypress/e2e/post_query/spec.cy.ts
  cypress/e2e/prompt_playground/spec.cy.ts
  cypress/e2e/set_chat_settings/spec.cy.ts
Due: cypress

remove unecessary comments/features and lint
  .github/linters/.python-lint
  .github/workflows/unit-test.yaml
  cypress/e2e/post_query/spec.cy.ts
  cypress/e2e/prompt_playground/spec.cy.ts
  examples/discord_bot.py
Due: pylint, pytest, cypress

lint and fix dataset download
  .github/workflows/unit-test.yaml
  cypress/e2e/post_query/spec.cy.ts
Due: cypress

add chainlit config
  .chainlit/config.toml
  .gitignore
Due: none

add config.toml to no-sync
  .github/workflows/sync-space.yaml
Due: none

Add REST API Support (#45)
  .chainlit/config.toml
  .github/linters/.python-lint
  .github/workflows/embed-test.yaml
  .github/workflows/sync-space.yaml
  .github/workflows/unit-test.yaml
  .gitignore
  .pre-commit-config.yaml
  app.py
  config.yaml
  cypress/e2e/post_query/spec.cy.ts
  cypress/e2e/prompt_playground/spec.cy.ts
  cypress/e2e/set_chat_settings/spec.cy.ts
  examples/discord_bot.py
  utils/api.py
Due: pylint, pytest, cypress

fix sync typo
  .github/workflows/sync-space.yaml
Due: none

add ping command and update bot
  app.py
  embed.py
  examples/discord_bot.py
Due: pylint, pytest, cypress

add ping test
  cypress/e2e/api/spec.cy.ts
Due: cypress

Add Ping Command (#46)
  app.py
  cypress/e2e/api/spec.cy.ts
  embed.py
  examples/discord_bot.py
Due: pylint, pytest, cypress

update bot exception
  .github/linters/.python-lint
  examples/discord_bot.py
Due: pylint, pytest, cypress

enable debug mode in space
  Dockerfile
Due: none

update exception
  .github/linters/.python-lint
  examples/discord_bot.py
Due: pylint, pytest, cypress

add multithreading and concurrency support
  .github/workflows/embed-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/sync-space.yaml
  .github/workflows/unit-test.yaml
  .gitignore
  Dockerfile
  Modelfile
  app.py
  config.yaml
  embed.py
  examples/discord_bot.py
  requirements.txt
  test/test_embed.py
Due: pylint, pytest, cypress

update test
  cypress/e2e/set_chat_settings/spec.cy.ts
Due: cypress

add .chainlit folder donwnload in utest
  .github/workflows/unit-test.yaml
Due: none

download correct file
  .github/workflows/unit-test.yaml
Due: none

stop using cypress gha, disable /query test
  .github/workflows/unit-test.yaml
  cypress/cypress.config.ts
  cypress/e2e/api/spec.cy.ts
  cypress/e2e/prompt_playground/spec.cy.ts
Due: cypress

return cypress gha
  .github/workflows/unit-test.yaml
Due: none

run server in bg
  .github/workflows/unit-test.yaml
Due: none

reduce cypress tests
  .github/workflows/unit-test.yaml
  cypress/e2e/api/spec.cy.ts
Due: cypress

update embed test
  .github/workflows/embed-test.yaml
  .github/workflows/unit-test.yaml
Due: none

add caching
  .github/workflows/integration-test.yaml
  .github/workflows/unit-test.yaml
Due: none

finish e2e action setup
  .github/workflows/integration-test.yaml
  .github/workflows/unit-test.yaml
Due: none

data typo
  .github/workflows/integration-test.yaml
Due: none

create TEST mode for chainlit
  .github/workflows/integration-test.yaml
  app.py
  cypress/e2e/api/spec.cy.ts
  cypress/e2e/prompt_playground/spec.cy.ts
  cypress/test.sh
Due: pylint, pytest, cypress

update command timeout
  cypress/cypress.config.ts
Due: cypress

fix caching scheme
  .github/workflows/integration-test.yaml
Due: none

fail on cache miss
  .github/workflows/integration-test.yaml
Due: none

correct data location
  .github/workflows/integration-test.yaml
Due: none

Path conditions:
  pylint: any of: \.py$
  pytest: any of: \.py$
  cypress: any of: \.(ts|mts|cts)$, \.py$
