Repository tylertitsworth/multi-mediawiki-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest, cypress

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --rcfile=.github/linters/.python-lint

pytest:
  name: pytest
  entry: pytest
  language: system
  args:
  - test/test.py
  - -W
  - ignore::DeprecationWarning
  - --ollama

cypress:
  name: cypress
  entry: npx
  language: system
  args:
  - ts-node
  - cypress/main.ts

update secrets
  .github/workflows/unit-test.yaml
Due: none

add lockfile
  .gitignore
  package-lock.json
Due: none

add lint config for ts
  .github/workflows/lint.yaml
  test/test.py
Due: pylint, pytest, cypress

add python requirements to cypress test
  .github/workflows/lint.yaml
  .github/workflows/unit-test.yaml
Due: none

use node 16
  .github/workflows/lint.yaml
  .github/workflows/unit-test.yaml
Due: none

add ollama install
  .github/workflows/unit-test.yaml
Due: none

add ollama tests via hf sources
  .github/workflows/unit-test.yaml
Due: none

remember mkdir memory
  .github/workflows/unit-test.yaml
Due: none

adjust hf download
  .github/workflows/unit-test.yaml
Due: none

test
  .github/workflows/unit-test.yaml
Due: none

run chainlit outside of ts
  .github/workflows/unit-test.yaml
  .pre-commit-config.yaml
  README.md
  cypress/e2e/set_chat_settings/spec.cy.ts
  cypress/main.ts
  cypress/run.ts
  cypress/test.sh
  cypress/utils.ts
Due: cypress

expand action steps
  .github/workflows/unit-test.yaml
Due: none

remove install step
  .github/workflows/unit-test.yaml
Due: none

add on_chat_start test
  cypress/e2e/on_chat_start/spec.cy.ts
  cypress/e2e/set_chat_settings/spec.cy.ts
Due: cypress

set ollama image version to 0.1.19 (jmorganca/ollama issue#1941)
  Dockerfile
Due: none

Add Cypress Tests for Chainlit (#35)
  .github/linters/.python-lint
  .github/workflows/lint.yaml
  .github/workflows/sync-space.yaml
  .github/workflows/unit-test.yaml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Dockerfile
  README.md
  cypress/cypress.config.ts
  cypress/e2e/on_chat_start/spec.cy.ts
  cypress/e2e/set_chat_settings/spec.cy.ts
  cypress/test.sh
  cypress/tsconfig.json
  main.py
  package-lock.json
  package.json
  test/test.py
Due: pylint, pytest, cypress

adjust sync task
  .github/workflows/sync-space.yaml
Due: none

make test.sh executable
  cypress/test.sh
Due: none

set ts linting
  .github/workflows/lint.yaml
Due: none

only run unit test on main.py change
  .github/workflows/unit-test.yaml
Due: none

lint ts
  cypress/e2e/on_chat_start/spec.cy.ts
  cypress/e2e/set_chat_settings/spec.cy.ts
  cypress/tsconfig.json
Due: cypress

lint ts 2
  cypress/cypress.config.ts
  cypress/e2e/on_chat_start/spec.cy.ts
  cypress/e2e/set_chat_settings/spec.cy.ts
  cypress/tsconfig.json
Due: cypress

remove lint rules
  .github/linters/.python-lint
Due: none

add npm to dependabot
  .github/dependabot.yml
Due: none

Update Linter (#36)
  .github/dependabot.yml
  .github/linters/.python-lint
  .github/workflows/lint.yaml
  .github/workflows/unit-test.yaml
  cypress/cypress.config.ts
  cypress/e2e/on_chat_start/spec.cy.ts
  cypress/e2e/set_chat_settings/spec.cy.ts
  cypress/test.sh
  cypress/tsconfig.json
Due: cypress

Update Unit Test Paths
  .github/workflows/unit-test.yaml
Due: none

return to latest ollama version
  Dockerfile
Due: none

fix sync space
  .github/workflows/sync-space.yaml
  .github/workflows/unit-test.yaml
  README.md
Due: none

Update Badges
  README.md
Due: none

Update README.md
  README.md
Due: none

Add Screenshot of Chainlit UI
  README.md
Due: none

refactor into two files, remove class
  .github/linters/.python-lint
  .github/workflows/embed-test.yaml
  .github/workflows/sync-space.yaml
  .github/workflows/unit-test.yaml
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  README.md
  app.py
  cypress/cypress.config.ts
  cypress/test.sh
  embed.py
  main.py
  test/conftest.py
  test/test.py
  test/test_app.py
  test/test_embed.py
Due: pylint, pytest, cypress

add more hooks
  .pre-commit-config.yaml
Due: none

add more hooks and edit contrib
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

adjust lint and add source download step to basic pytest
  .github/linters/.python-lint
  .github/workflows/unit-test.yaml
  cypress/e2e/set_chat_settings/spec.cy.ts
  test/test_app.py
  test/test_embed.py
Due: pylint, pytest, cypress

revert to xml download
  .github/workflows/embed-test.yaml
  .github/workflows/unit-test.yaml
Due: none

update spec
  .github/workflows/embed-test.yaml
  cypress/e2e/set_chat_settings/spec.cy.ts
Due: cypress

Refactor Application (#40)
  .github/linters/.python-lint
  .github/workflows/embed-test.yaml
  .github/workflows/sync-space.yaml
  .github/workflows/unit-test.yaml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Dockerfile
  README.md
  app.py
  cypress/cypress.config.ts
  cypress/e2e/set_chat_settings/spec.cy.ts
  cypress/test.sh
  embed.py
  main.py
  test/conftest.py
  test/test.py
  test/test_app.py
  test/test_embed.py
Due: pylint, pytest, cypress

update deleted_files list in sync job
  .github/workflows/sync-space.yaml
Due: none

Path conditions:
  pylint: any of: \.py$
  pytest: any of: \.py$
  cypress: any of: \.(ts|mts|cts)$, \.py$
