Repository tylertitsworth/multi-mediawiki-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cypress

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-merge-conflict
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: forbid-submodules
    - id: sort-simple-yaml
      files: config.yaml
    - id: trailing-whitespace
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.1-beta
    hooks:
      - id: hadolint-docker
        args: ["--config", ".github/linters/.hadolint.yaml"]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
    - id: markdownlint
      args: ["--config", ".github/linters/.markdown-lint.yaml"]
  - repo: https://github.com/ambv/black
    rev: 23.12.1
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--rcfile=.github/linters/.python-lint"]
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        args: ["-W", "ignore::DeprecationWarning"]
        pass_filenames: false
        always_run: true
      - id: cypress
        name: cypress
        entry: bash
        language: system
        types_or: [ts, python]
        args: ["cypress/test.sh"]

Update .pre-commit-config.yaml (#86)
  .github/workflows/build.yaml
  .pre-commit-config.yaml
Due: none

Update README.md
  README.md
Due: none

Update Vulnerable Container Dependencies (#74)
  README.md
  requirements.txt
Due: none

Update lint.yaml
  .github/workflows/lint.yaml
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

Update dependabot.yml (#105)
  .github/dependabot.yml
Due: none

add discord support
  README.md
  app.py
  discord.py
  examples/discord_bot.py
  requirements.txt
  utils/api.py
Due: pylint, cypress

migrate with langchain-cli
  app.py
  embed.py
  examples/discord_bot.py
Due: pylint, cypress

add community
  requirements.txt
Due: none

update community
  requirements.txt
Due: none

remove api test
  cypress/e2e/api/spec.cy.ts
Due: cypress

add discord support (#111)
  README.md
  app.py
  cypress/e2e/api/spec.cy.ts
  discord.py
  examples/discord_bot.py
  requirements.txt
  utils/api.py
Due: pylint, cypress

Update sync-space.yaml
  .github/workflows/sync-space.yaml
Due: none

Update config.yaml
  config.yaml
Due: none

Delete discord.py
  discord.py
Due: pylint, cypress

Update spec.cy.ts
  cypress/e2e/set_chat_settings/spec.cy.ts
Due: cypress

Update spec.cy.ts
  cypress/e2e/prompt_playground/spec.cy.ts
Due: cypress

Deploy Discord Bot (#112)
  README.md
  config.yaml
  cypress/e2e/prompt_playground/spec.cy.ts
  cypress/e2e/set_chat_settings/spec.cy.ts
  discord.py
Due: pylint, cypress

Update requirements.txt
  requirements.txt
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md (#141)
  CONTRIBUTING.md
Due: none

update code for latest dependency versions and migrations
  .github/linters/.python-lint
  Modelfile
  README.md
  app.py
  cypress/e2e/prompt_playground/spec.cy.ts
  dev-requirements.txt
  embed.py
  examples/add_more_docs.py
  requirements.txt
  test/test_app.py
Due: pylint, cypress

fix linting errors
  .github/linters/.python-lint
  app.py
  requirements.txt
Due: pylint, cypress

update dockerfile
  Dockerfile
Due: none

free space in ubuntu latest during integration test
  .github/workflows/integration-test.yaml
Due: none

create entrypoint
  .dockerignore
  Dockerfile
  README.md
  entrypoint.sh
Due: none

update linter to get rid of strange error
  .github/workflows/lint.yaml
Due: none

update dockerfile method
  .github/workflows/integration-test.yaml
  .github/workflows/lint.yaml
  Dockerfile
  entrypoint.sh
Due: none

fix lint
  .github/workflows/integration-test.yaml
  Dockerfile
Due: none

update embed test
  .github/workflows/integration-test.yaml
Due: none

Migrate to Latest Dependency Versions (#142)
  .dockerignore
  .github/linters/.python-lint
  .github/workflows/integration-test.yaml
  Dockerfile
  Modelfile
  README.md
  app.py
  cypress/e2e/prompt_playground/spec.cy.ts
  dev-requirements.txt
  embed.py
  examples/add_more_docs.py
  package-lock.json
  package.json
  requirements.txt
  test/test_app.py
Due: pylint, cypress

add api key
  .github/workflows/integration-test.yaml
  .github/workflows/unit-test.yaml
Due: none

add api key (#148)
  .github/workflows/integration-test.yaml
  .github/workflows/unit-test.yaml
Due: none
