Repository tylertitsworth/multi-mediawiki-rag: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, cypress

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    - id: check-added-large-files
    - id: check-ast
    - id: check-merge-conflict
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: forbid-submodules
    - id: sort-simple-yaml
      files: config.yaml
    - id: trailing-whitespace
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.1-beta
    hooks:
      - id: hadolint-docker
        args: ["--config", ".github/linters/.hadolint.yaml"]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
    - id: markdownlint
      args: ["--config", ".github/linters/.markdown-lint.yaml"]
  - repo: https://github.com/ambv/black
    rev: 23.12.1
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--rcfile=.github/linters/.python-lint"]
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        args: ["-W", "ignore::DeprecationWarning"]
        pass_filenames: false
        always_run: true
      - id: cypress
        name: cypress
        entry: bash
        language: system
        types_or: [ts, python]
        args: ["cypress/test.sh"]

correct data location
  .github/workflows/integration-test.yaml
Due: none

cache memory
  .github/workflows/integration-test.yaml
  .github/workflows/unit-test.yaml
Due: none

update timeout
  .github/workflows/integration-test.yaml
  cypress/e2e/api/spec.cy.ts
  cypress/e2e/prompt_playground/spec.cy.ts
Due: cypress

update timeout and test chain in api
  app.py
  cypress/cypress.config.ts
  cypress/e2e/api/spec.cy.ts
  cypress/e2e/prompt_playground/spec.cy.ts
Due: pylint, cypress

Add Multithreading and Concurrency Support (#52)
  .github/workflows/integration-test.yaml
  .github/workflows/lint.yaml
  .github/workflows/sync-space.yaml
  .github/workflows/unit-test.yaml
  .gitignore
  Dockerfile
  Modelfile
  app.py
  config.yaml
  cypress/cypress.config.ts
  cypress/e2e/api/spec.cy.ts
  cypress/e2e/prompt_playground/spec.cy.ts
  cypress/e2e/set_chat_settings/spec.cy.ts
  cypress/test.sh
  embed.py
  examples/discord_bot.py
  requirements.txt
  test/test_embed.py
Due: pylint, cypress

Update requirements.txt
  requirements.txt
Due: none

add embed workflow
  .github/workflows/embed.yaml
  config.yaml
Due: none

Update lint.yaml
  .github/workflows/lint.yaml
Due: none

Update integration-test.yaml
  .github/workflows/integration-test.yaml
Due: none

Add Trivy Scanning to Integration Test (#55)
  .github/workflows/integration-test.yaml
Due: none

Create build.yaml
  .github/workflows/build.yaml
Due: none

Update build.yaml
  .github/workflows/build.yaml
Due: none

Create build.yaml (#56)
  .github/workflows/build.yaml
Due: none

use progress bar for embedding
  embed.py
Due: pylint, cypress

Update embed.py
  embed.py
Due: pylint, cypress

add openai as dependency
  CONTRIBUTING.md
  requirements.txt
Due: none

update prompt playground test
  README.md
  cypress/e2e/prompt_playground/spec.cy.ts
Due: cypress

add langgraph implementation
  .github/linters/.python-lint
  .pre-commit-config.yaml
  app.py
  embed.py
  graph.py
  requirements.txt
  test/test_embed.py
Due: pylint, cypress

Add license scan report and status
  README.md
Due: none

Update README.md
  README.md
Due: none

Add FOSSA (#79)
  README.md
Due: none

update multi-modal
  .chainlit/config.toml
Due: none

regen config.toml
  .chainlit/config.toml
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none
